# Subfloor Folders #
####################
bin
dist
/build
/lib
test-lib
dev-lib
js-lib
override.properties
/nbproject/private

#   Node Modules   #
####################
node_modules

# JS build folder  #
####################
build-res/module-scripts


#   Old UI Files   #
####################
package-res/resources/old